In [1]:
import numpy as np
import pandas as pd
from simulation import Simulation
from cell import Cell

In [2]:
sim = Simulation(1, 612)
_ = sim.run(None, 1.2, 100)
_ = sim.run("del", 1.2, 300)
results = sim.run("del", 1.2, 301, sample=True)

In [3]:
results.groupby('next').count()

      parent    id     i     x     y
next
del      372   372   372   372   372
div      375   375   375   375   375
none    3312  3312  3312  3312  3312

In [13]:
p = results[results['parent']!="none"].sort_values('x').iat[1,0]
c = results[results['parent']!="none"].sort_values('x').iat[1,2]

In [14]:
results[(results['next']== "div")&(results["parent"]=="none")].sort_values('x')

Empty DataFrame
Columns: [parent, next, id, i, x, y]
Index: []

In [15]:
results[results['id']==p]

,parent,next,id,i,x,y
253,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,60,0.202618,0.409031
230,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,80,0.212259,0.429362
209,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,100,0.194537,0.421487
185,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,120,0.198132,0.410846
155,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,140,0.198746,0.399288
144,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,160,0.210986,0.420926
127,none,none,d2670e0e-a3db-11ec-bd8a-0242ac110002,180,0.212783,0.415122
109,none,del,d2670e0e-a3db-11ec-bd8a-0242ac110002,185,0.203782,0.407999

In [16]:
results[results['id']==c]

,parent,next,id,i,x,y
223,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,140,0.196126,0.326858
206,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,160,0.188517,0.329765
182,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,180,0.182882,0.338051
164,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,200,0.189747,0.352082
140,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,220,0.185578,0.345365
115,d2670e0e-a3db-11ec-bd8a-0242ac110002,div,d632805e-a3db-11ec-bd8a-0242ac110002,238,0.176763,0.314938
103,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,259,0.193264,0.324866
90,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,280,0.180699,0.317555
76,none,none,d632805e-a3db-11ec-bd8a-0242ac110002,300,0.198555,0.339433

In [8]:
len(results[results['i']==120])

210

In [9]:
#TODO: figure out the cell lifetime stuff to make all this work. Gotta get it done tonight bruh

In [10]:
a = sim.step(None, 1000, sample = True)

In [11]:
a.groupby('next').count()

        i   id    x    y  parent  lifetime
next
div     3    3    3    3       3         3
none  216  216  216  216     216       216

In [12]:
len(sim.cells)

497